*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#navbar{
    display: flex;
    background-color: blueviolet;
    height: 7vh;
    align-items: center;
    margin-bottom: 7vh;

}
#appName{
    color: white;
    font-size: xx-large;
    margin-left: 10px;
}
#welcomeContainer{
    display: flex;
    justify-content: center;
    margin: 7vh;
}
#registerForm{
    justify-content: center;
    align-items: center;
}
#usernameOfR{
    margin: 3vh;
    display: flex;
    justify-content: center;
}
#emailOfR{
    margin: 3vh;
    display: flex;
    justify-content: center;
}
#passwordOfR{
    margin: 3vh;
    display: flex;
    justify-content: center;
}
#submitBtnofR{
    margin: 3vh;
    display: flex;
    justify-content: center;
}
#userName-R{
    height: 4vh;
    width: 15vw;
    font-size: larger;
}
#email{
    height: 4vh;
    width: 15vw;
    font-size: larger;
}
#password-R{
    height: 4vh;
    width: 15vw;
    font-size: larger;
}
#sendData{
    margin: 1vh;
    padding: 1vh;
    width: 15vw;
}
#tologin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#gologinbtn{
    margin: 1vh;
    padding: 1vh;
    width: 15vw;
}
#successMsg{
    font-size: larger;
    color: green;
}